{% extends "basefront.html.twig" %}

{% block body %}
    <h1>page voyages</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Pays</th>
                <th class="text-end" scope="col">Note</th>
                <th class="text-center" scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for visite in visites %}
                <tr>

                    <td>
                        <h5 class="text-primary">
                            <a href="#">{{ visite.ville }}</a>
                        </h5>
                    </td>
                    <td>
                        <a>{{ visite.pays }}</a>
                    </td>
                    <td class="text-end">
                        <strong>
                            {% if visite.note < 10 %}
                                <div class="text-danger">
                                    {{ visite.note }}/20
                                </div>
                            {% else %}
                                <div class="text-success">
                                    {{ visite.note }}/20
                                </div>
                            {% endif %}
                        </strong>
                    </td>
                    <td class="text-center">
                        <a>{{ visite.datecreationstring }}</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{%  endblock %}